# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# IDE - Visual Studio Code
.vscode/
*.code-workspace

# Documentation - Sphinx
# docs/_build/
docs/_static/
docs/_templates/
docs/.doctrees/
docs/.buildinfo

# Other common directories and files
*.log
*.bak
*.swp
*.bak~
*.cache
*.tmp
*.~lock.*

# Environment directories
.env
venv/
